In [6]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os

In [8]:
df = pd.read_csv(r'/Users/mp/Desktop/stock_data.csv')

In [9]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096 entries, 0 to 3095
Data columns (total 60 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MSFT     3096 non-null   object
 1   MSFT.1   3096 non-null   object
 2   MSFT.2   3096 non-null   object
 3   MSFT.3   3096 non-null   object
 4   MSFT.4   3096 non-null   object
 5   MSFT.5   3096 non-null   object
 6   AMZN     3096 non-null   object
 7   AMZN.1   3096 non-null   object
 8   AMZN.2   3096 non-null   object
 9   AMZN.3   3096 non-null   object
 10  AMZN.4   3096 non-null   object
 11  AMZN.5   3096 non-null   object
 12  TSLA     2974 non-null   object
 13  TSLA.1   2974 non-null   object
 14  TSLA.2   2974 non-null   object
 15  TSLA.3   2974 non-null   object
 16  TSLA.4   2974 non-null   object
 17  TSLA.5   2974 non-null   object
 18  FB       1 non-null      object
 19  FB.1     1 non-null      object
 20  FB.2     1 non-null      object
 21  FB.3     1 non-null      object
 22  FB.4     1 non-null      object
 23  FB.5     1 non-null      object
 24  GOOGL    3096 non-null   object
 25  GOOGL.1  3096 non-null   object
 26  GOOGL.2  3096 non-null   object
 27  GOOGL.3  3096 non-null   object
 28  GOOGL.4  3096 non-null   object
 29  GOOGL.5  3096 non-null   object
 30  NVDA     3096 non-null   object
 31  NVDA.1   3096 non-null   object
 32  NVDA.2   3096 non-null   object
 33  NVDA.3   3096 non-null   object
 34  NVDA.4   3096 non-null   object
 35  NVDA.5   3096 non-null   object
 36  JPM      3096 non-null   object
 37  JPM.1    3096 non-null   object
 38  JPM.2    3096 non-null   object
 39  JPM.3    3096 non-null   object
 40  JPM.4    3096 non-null   object
 41  JPM.5    3096 non-null   object
 42  AAPL     3096 non-null   object
 43  AAPL.1   3096 non-null   object
 44  AAPL.2   3096 non-null   object
 45  AAPL.3   3096 non-null   object
 46  AAPL.4   3096 non-null   object
 47  AAPL.5   3096 non-null   object
 48  JNJ      3096 non-null   object
 49  JNJ.1    3096 non-null   object
 50  JNJ.2    3096 non-null   object
 51  JNJ.3    3096 non-null   object
 52  JNJ.4    3096 non-null   object
 53  JNJ.5    3096 non-null   object
 54  V        3096 non-null   object
 55  V.1      3096 non-null   object
 56  V.2      3096 non-null   object
 57  V.3      3096 non-null   object
 58  V.4      3096 non-null   object
 59  V.5      3096 non-null   object
dtypes: object(60)
memory usage: 1.4+ MB
None

,MSFT,MSFT.1,MSFT.2,MSFT.3,MSFT.4,MSFT.5,AMZN,AMZN.1,AMZN.2,AMZN.3,...,JNJ.2,JNJ.3,JNJ.4,JNJ.5,V,V.1,V.2,V.3,V.4,V.5
0,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,...,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
1,30.6200008392334,31.100000381469727,30.59000015258789,30.950000762939453,23.62389373779297,38409100,6.8125,6.83050012588501,6.6570000648498535,6.695000171661377,...,64.41000366210938,64.68000030517578,43.962337493896484,9506200,22.0,22.1924991607666,21.864999771118164,22.03499984741211,20.055456161499023,20180000
2,30.850000381469727,31.100000381469727,30.639999389648438,30.959999084472656,23.631532669067383,49749600,6.671500205993652,6.77400016784668,6.5904998779296875,6.734499931335449,...,63.81999969482422,63.93000030517578,43.45256423950195,10673100,21.825000762939453,21.88249969482422,21.5,21.782499313354492,19.825641632080078,25833600
3,30.8799991607666,31.079999923706055,30.520000457763672,30.770000457763672,23.48650360107422,58182400,6.730000019073486,6.736499786376953,6.582499980926514,6.612500190734863,...,63.83000183105469,64.44999694824219,43.80599594116211,13171500,21.752500534057617,21.770000457763672,21.475000381469727,21.489999771118164,19.559423446655273,16254000
4,30.6299991607666,30.700000762939453,30.190000534057617,30.450000762939453,23.242258071899414,50559700,6.600500106811523,6.616000175476074,6.440000057220459,6.5,...,63.7400016784668,63.9900016784668,43.493343353271484,10901600,21.49250030517578,21.75,21.387500762939453,21.690000534057617,19.741455078125,27841200

In [10]:
#checking for null values
#to check percentage of null
(df.isnull().sum()/len(df))*100

#df.isnull().sum()

MSFT        0.000000
MSFT.1      0.000000
MSFT.2      0.000000
MSFT.3      0.000000
MSFT.4      0.000000
MSFT.5      0.000000
AMZN        0.000000
AMZN.1      0.000000
AMZN.2      0.000000
AMZN.3      0.000000
AMZN.4      0.000000
AMZN.5      0.000000
TSLA        3.940568
TSLA.1      3.940568
TSLA.2      3.940568
TSLA.3      3.940568
TSLA.4      3.940568
TSLA.5      3.940568
FB         99.967700
FB.1       99.967700
FB.2       99.967700
FB.3       99.967700
FB.4       99.967700
FB.5       99.967700
GOOGL       0.000000
GOOGL.1     0.000000
GOOGL.2     0.000000
GOOGL.3     0.000000
GOOGL.4     0.000000
GOOGL.5     0.000000
NVDA        0.000000
NVDA.1      0.000000
NVDA.2      0.000000
NVDA.3      0.000000
NVDA.4      0.000000
NVDA.5      0.000000
JPM         0.000000
JPM.1       0.000000
JPM.2       0.000000
JPM.3       0.000000
JPM.4       0.000000
JPM.5       0.000000
AAPL        0.000000
AAPL.1      0.000000
AAPL.2      0.000000
AAPL.3      0.000000
AAPL.4      0.000000
AAPL.5      0.000000
JNJ         0.000000
JNJ.1       0.000000
JNJ.2       0.000000
JNJ.3       0.000000
JNJ.4       0.000000
JNJ.5       0.000000
V           0.000000
V.1         0.000000
V.2         0.000000
V.3         0.000000
V.4         0.000000
V.5         0.000000
dtype: float64

In [11]:
# Remove all duplicate rows
df.drop_duplicates(keep=False)

,MSFT,MSFT.1,MSFT.2,MSFT.3,MSFT.4,MSFT.5,AMZN,AMZN.1,AMZN.2,AMZN.3,...,JNJ.2,JNJ.3,JNJ.4,JNJ.5,V,V.1,V.2,V.3,V.4,V.5
0,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,...,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
1,30.6200008392334,31.100000381469727,30.59000015258789,30.950000762939453,23.62389373779297,38409100,6.8125,6.83050012588501,6.6570000648498535,6.695000171661377,...,64.41000366210938,64.68000030517578,43.962337493896484,9506200,22.0,22.1924991607666,21.864999771118164,22.03499984741211,20.055456161499023,20180000
2,30.850000381469727,31.100000381469727,30.639999389648438,30.959999084472656,23.631532669067383,49749600,6.671500205993652,6.77400016784668,6.5904998779296875,6.734499931335449,...,63.81999969482422,63.93000030517578,43.45256423950195,10673100,21.825000762939453,21.88249969482422,21.5,21.782499313354492,19.825641632080078,25833600
3,30.8799991607666,31.079999923706055,30.520000457763672,30.770000457763672,23.48650360107422,58182400,6.730000019073486,6.736499786376953,6.582499980926514,6.612500190734863,...,63.83000183105469,64.44999694824219,43.80599594116211,13171500,21.752500534057617,21.770000457763672,21.475000381469727,21.489999771118164,19.559423446655273,16254000
4,30.6299991607666,30.700000762939453,30.190000534057617,30.450000762939453,23.242258071899414,50559700,6.600500106811523,6.616000175476074,6.440000057220459,6.5,...,63.7400016784668,63.9900016784668,43.493343353271484,10901600,21.49250030517578,21.75,21.387500762939453,21.690000534057617,19.741455078125,27841200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3091,289.239990234375,290.739990234375,280.489990234375,282.05999755859375,279.31976318359375,30966700,153.6925048828125,155.0989990234375,150.38299560546875,150.78750610351562,...,178.1999969482422,179.89999389648438,175.15980529785156,5957500,216.5,216.99000549316406,210.6999969482422,211.39999389648438,209.743408203125,7446600
3092,282.7300109863281,288.5799865722656,281.29998779296875,287.6199951171875,284.8257751464844,21907200,150.01849365234375,156.02499389648438,149.60000610351562,155.54100036621094,...,179.24000549316406,180.66000366210938,175.8997802734375,5643100,210.42999267578125,213.85000610351562,207.1699981689453,213.27000427246094,211.59877014160156,8052900
3093,288.0899963378906,288.30999755859375,279.32000732421875,279.8299865722656,277.1114501953125,28221600,155.38999938964844,155.89700317382812,151.4720001220703,151.7064971923828,...,179.72999572753906,179.89999389648438,175.15980529785156,6188200,214.27000427246094,215.9499969482422,212.52999877929688,212.7899932861328,211.12252807617188,8191600
3094,278.9100036621094,282.4599914550781,278.3399963378906,280.5199890136719,277.794677734375,20778000,151.52349853515625,154.0395050048828,150.25050354003906,152.78500366210938,...,176.74000549316406,177.66000366210938,172.97882080078125,6318700,211.6699981689453,215.8300018310547,211.52000427246094,213.1699981689453,211.4995574951172,4744400
3095,279.3800048828125,286.1700134277344,278.4100036621094,285.29998779296875,282.5282897949219,22297700,152.0294952392578,158.6490020751953,151.55050659179688,158.11549377441406,...,179.9499969482422,183.0800018310547,178.25601196289062,14380800,213.10000610351562,216.50999450683594,212.44000244140625,215.6999969482422,214.00973510742188,5028800

TypeError: no numeric data to plot